.container-with-image {
    position: relative;
    text-align: center;
    color: white;
}

.navbar {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Add a semi-transparent background for better readability */
    }

.c-img{
  height: 480px;

}   

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}